body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 242, 225);
    background-repeat: repeat-y;
    background-size: cover;
    max-width: 100%;
}
header {
    background-color: rgb(255, 242, 225);
    color: black;
}
footer {
    border-top: #333 solid 10px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.navbar {
    background-color: rgb(255, 242, 225);
    text-align: justify;
}
.Textos {
    background-color: bisque;
}
.h2Main {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}
.pMain {
    margin-bottom: 1%;
    margin-left: 5%;
    padding-top: 1%;
    font-size: 3dvh;
}
.botonMain{
    margin-left: 5%;
    margin-bottom: 7%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 150%;
}
.botonMain:hover {
    background-color: rgb(106, 186, 255);
    border-color: #333;
}
.imagenCafe {
    margin-left: 1%;
    margin-right: 5%;
    padding: 0%;
}
.row {
    width: 100%;
}
.divQuienesSomos {
    background-color: bisque;
}
.h2DivQuienes {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}
.pDiv {
    margin-bottom: 2%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3dvh;
}
.h2Servicios {
    background-color: bisque;
}
.h2Titulo {
    text-align: center;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 3dvh;
}
.card-body {
    background-color: bisque;
}
.card {
    max-width: 30%;
    align-items: center;
    margin-left: 7%;
}
.divMapa {
    background-color: bisque;
    margin: 0%;
    padding: 0%;
}
.mapa {
    margin-top: 30%;
    margin-bottom: 5%;
}
.textoMapa {
    margin-top: 30%;
    margin-left: 10%;
}
.divContacto {
    background-color: bisque;
    margin: 0%;
    padding: 0%;
}
.textosContacto {
    margin-top: 12%;
}
.formMarg {
    padding: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.divFooter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}